<p>
  <!-- <app-collaborator></app-collaborator> -->
  <!-- <app-client></app-client> -->
  <!-- <app-site></app-site> -->
  <!-- <app-provider></app-provider> -->
  <!-- <app-mission></app-mission> -->
<!-- </p> -->

<nav>
  <a class="button" routerLink="/mission">Missions</a>
  <a class="button" routerLink="/collaborator">Collaborateurs</a>
  <a class="button" routerLink="/client">Client</a>
  <a class="button" routerLink="/site">Sites</a>
  <a class="button" routerLink="/provider">Fournisseurs</a>
</nav>
<router-outlet></router-outlet>